/TI1.3 RESFULL-JAVA-SIN_BD_GR10/01. Servidor/ConUni_RESTFULL_Java_G10/nbproject/private/
/TI1.3 RESFULL-JAVA-SIN_BD_GR10/01. Servidor/ConUni_RESTFULL_Java_G10/build/
/TI1.3 RESFULL-JAVA-SIN_BD_GR10/01. Servidor/ConUni_RESTFULL_Java_G10/dist/
/TI1.3 RESFULL-JAVA-SIN_BD_GR10/02. CLICON/CLICON_JAVA_RESTFULL/nbproject/private/
/TI1.3 RESFULL-JAVA-SIN_BD_GR10/02. CLICON/Practico1_Toapanta_Antoni/nbproject/private/
/TI1.3 RESFULL-JAVA-SIN_BD_GR10/02. CLICON/Practico1_Toapanta_Antoni/build/
/TI1.3 RESFULL-JAVA-SIN_BD_GR10/02. CLICON/CLICON_JAVA_RESTFULL/build/
/TI1.3 RESFULL-JAVA-SIN_BD_GR10/02. CLICON/CLIESC_JAVA_RESFULL/nbproject/private/
/TI1.3 RESFULL-JAVA-SIN_BD_GR10/02. CLICON/CLIESC_JAVA_RESFULL/build/
/TALLER_EUREKABANK/T2.2 EUREKABANK_RESTFUL_JAVA_GR10/01. Servidor/ConUni_Restful_Java_Eurekabank_G10/Rest_Eurekabank/dist/
/TALLER_EUREKABANK/T2.2 EUREKABANK_RESTFUL_JAVA_GR10/01. Servidor/ConUni_Restful_Java_Eurekabank_G10/Rest_Eurekabank/build/
/TALLER_EUREKABANK/T2.1 EUREKABANK_SOAP_JAVA_GR10/SOAP_Eurekabank/nbproject/private/
/TALLER_EUREKABANK/T2.1 EUREKABANK_SOAP_JAVA_GR10/SOAP_Eurekabank/build/
/TALLER_EUREKABANK/T2.1 EUREKABANK_SOAP_JAVA_GR10/02. CLICON/CLICON_JAVA_SOAP/nbproject/private/
/TALLER_EUREKABANK/T2.1 EUREKABANK_SOAP_JAVA_GR10/02. CLICON/CLICON_JAVA_SOAP/build/
