/TI1.3 RESFULL-JAVA-SIN_BD_GR10/01. Servidor/ConUni_RESTFULL_Java_G10/nbproject/private/
/TI1.3 RESFULL-JAVA-SIN_BD_GR10/01. Servidor/ConUni_RESTFULL_Java_G10/build/
/TI1.3 RESFULL-JAVA-SIN_BD_GR10/01. Servidor/ConUni_RESTFULL_Java_G10/dist/
/TI1.3 RESFULL-JAVA-SIN_BD_GR10/02. CLICON/CLICON_JAVA_RESTFULL/nbproject/private/
/TI1.3 RESFULL-JAVA-SIN_BD_GR10/02. CLICON/Practico1_Toapanta_Antoni/nbproject/private/
/TI1.3 RESFULL-JAVA-SIN_BD_GR10/02. CLICON/Practico1_Toapanta_Antoni/build/
/TI1.3 RESFULL-JAVA-SIN_BD_GR10/02. CLICON/CLICON_JAVA_RESTFULL/build/
/TI1.3 RESFULL-JAVA-SIN_BD_GR10/02. CLICON/CLIESC_JAVA_RESFULL/nbproject/private/
/TI1.3 RESFULL-JAVA-SIN_BD_GR10/02. CLICON/CLIESC_JAVA_RESFULL/build/
