<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings>
		<add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
	</appSettings>

	<system.web>
		<compilation debug="true" targetFramework="4.7.2" />
		<httpRuntime targetFramework="4.7.2"/>
	</system.web>

	<system.serviceModel>
		<!-- 👇 Sección CRÍTICA que faltaba: definición explícita del servicio -->
		<services>
			<service name="ec.edu.monster.Services.ConversionService">
				<endpoint
					address=""
					binding="basicHttpBinding"
					contract="ec.edu.monster.Contracts.IConversionService" />
				<endpoint
					address="mex"
					binding="mexHttpBinding"
					contract="IMetadataExchange" />
			</service>
		</services>

		<behaviors>
			<serviceBehaviors>
				<behavior>
					<serviceMetadata httpGetEnabled="true" httpsGetEnabled="true"/>
					<serviceDebug includeExceptionDetailInFaults="true"/>
				</behavior>
			</serviceBehaviors>
		</behaviors>

		<!-- 👇 Cambiado a basicHttpBinding para HTTP (no HTTPS) -->
		<protocolMapping>
			<add binding="basicHttpBinding" scheme="http" />
		</protocolMapping>

		<serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
	</system.serviceModel>

	<system.webServer>
		<modules runAllManagedModulesForAllRequests="true"/>
		<directoryBrowse enabled="false"/>
	</system.webServer>
</configuration>